.addPartBt{
    outline: 0;
    border:1px solid #ECF3FC;
    border-radius: 10px;
    box-shadow: -1px -1px 4px  0 rgba(255, 255, 255, 1),
    2px 2px 6px 3px rgba(158, 158, 158, 0.25);

    background-color: #7A9DFF;
    
    img{
        padding: 0.5em;
        margin-top: 0.7em;
    }
}