.blockAddPart{
    background-color: #ECF4FF;

    border:1px solid #ECF3FC;
    border-radius: 10px;
    box-shadow: inset 1px 1px 6px 3px #C9D8EE,
    -1px -1px 4px  0 rgba(255, 255, 255, 1),
    2px 2px 6px 3px rgba(158, 158, 158, 0.25);

    width: 360px;
    margin:0.5em 1em 0 2em;
    padding: 1em;

    display: grid;

    h2{
        text-align: center;
        color: #A1B0CA;
        margin:0.15em;
    }
    

    input{
        //width: 100%;
        margin:0.15em;
        padding: 0.2em 0.5em;
        border:none;
        border-radius: 5px;
        box-shadow: inset 1px 1px 4px 0 #A1B0CA;
        outline: none;

        font-size: 18px;

        &::placeholder{
            color: #A1B0CA;
        }
    }

    button{
        align-self: center;
        justify-self: center;

        padding:0.7em 2em;
        margin:0.5em 0;
        outline: 0;
        border:1px solid #ECF3FC;
        border-radius: 10px;
        box-shadow: -1px -1px 4px  0 rgba(255, 255, 255, 1),
        2px 2px 6px 3px rgba(158, 158, 158, 0.25);

        background-color: #7A9DFF;
        color: #fff;
        font-weight: bold;
    }
}